Repository react-icons/react-icons, pull requests merged in 2024-08, with the labels that each got.

#956 feat: update simple icons to 12.4.0
  README.md
  packages/react-icons/src/icons/index.ts
Labels: icons/update

#968 update bootstrap, tabler icons
  packages/react-icons/VERSIONS
  packages/react-icons/src/icons/index.ts
Labels: icons/update

#900 Add closing of the icon details modal with the ESC key
  packages/preview-astro/src/components/icondetailmodal.tsx
  packages/preview-astro/src/utils/usekeydown.ts
Labels: preview-site(low priority)

#970 support moduleResolution: bundler in tsconfig
  packages/react-icons/scripts/task_common.ts
Labels: Bug

#967 min search length changed to 2
  packages/preview-astro/src/components/search/index.tsx
Labels: preview-site(low priority)
